html {
  padding: none;
  margin: none;
}
/* items grid container */
.itemsContainer {
  padding: 3rem;
  display: grid;
  grid-template-columns: 25fr 25fr 25fr 25fr; /*can add a media query for smaller screens/responsivity*/
}

/* individual item card container */
.itemCard {
  /* display: flex;
  flex-direction: row; */
  justify-content: flex-start;
  margin: 0.5rem;
  max-width: 300px;
  height: 100px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.2);
}
