
/* items grid container */
.itemsContainer {
  padding: 3rem;
  display: grid;
  grid-template-columns: 20fr 20fr 20fr 20fr 20fr; /*can add a media query for smaller screens/responsivity*/  
  /* min-width: 950px; */
}

/* individual item card container */
.itemCard {
  /* display: flex;
  flex-direction: row; */
  justify-content: flex-start;
  margin: 0.5rem;
  max-width: 300px;
  height: 100px;
  box-shadow: 1px 1px 7px rgba(22, 22, 22, 0.329);
  background-color: #FFFFFF;
}

.addItemBtn {
  margin-left: 80%;
  margin-top: 20px;
  background-color: aliceblue;
  color: gray;
  border: none;
  box-shadow: 1px 1px 3px rgba(22, 22, 22, 0.171);
}
/* Div rendered by App (sets background color for whole app) */
.backgroundColor {
  height: 100vh;
}

.navbar-light {
  box-shadow: inset 0px 0px 20px 10px rgba(156, 156, 156, 0.178);
}


/* ----------------Media Queries------------------ */
/* TODO: */
/* -add media query for grid */

@media (max-width: 1550px) {
  .itemsContainer {
    grid-template-columns: 25fr 25fr 25fr 25fr; /*can add a media query for smaller screens/responsivity*/  
  
  }
}
@media (max-width: 1150px) {
  .itemsContainer {
    grid-template-columns: 33fr 33fr 33fr; /*can add a media query for smaller screens/responsivity*/  
  
  }
}